
<body class="bg-light">
    <main>
        <!-- Ui cards -->
        <section id="cards">
            <div class="container py-2">
                <div class="row pb-4">
                    <div class="col-12 text-center">
                        <div class="display-1">Our Team</div>
                    </div>
                </div>
                <!-- cards -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 pt-5">
                        <div class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="user-picture">
                                    <img src="../../assets/images/Venkat.JPG" class="shadow-sm rounded-circle" height="140" width="130" />
                                </div>
                                <div class="user-content">
                                    <h5 class="text-capitalize user-name">Venkat Sai</h5>
                                    <p class=" text-capitalize text-muted small blockquote-footer">MLA 182- Java-Jr</p>
                                    <div>
                                      <a href="mailto:somarouthu.sai@mphasis.com"><i class="ion-ios-email-outline">  somarouthu.sai@mphasis.com</i></a>
                                    </div>
                                    <p class="small text-muted mb-0">Venkatsai is a computer Graduate from Sathyabama University Who is highly active and curious to gain knowledge on diffrent technologies to Shape his Career. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 pt-5">
                        <div class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="user-picture">
                                    <img src="../../assets/images/Susmita.jpeg" class="shadow-sm rounded-circle" height="130" width="130" />
                                </div>
                                <div class="user-content">
                                    <h5 class="text-capitalize user-name">Susmita</h5>
                                    <p class=" text-capitalize text-muted small blockquote-footer">MLA 182- Java-Jr</p>
                                    <div>
                                        <a href="mailto:susmita.kundu@mphasis.com"><i class="ion-ios-email-outline">  susmita.kundu@mphasis.com</i></a>
                                      </div>
                                    <p class="small text-muted mb-0">Susmita Kundu is from West Bengal joined Mphasis Ltd as a trainee associate software engineer. She will always keep faith in herself and  prefer to take everything positively.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 pt-5">
                        <div class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="user-picture">
                                    <img src="../../assets/images/lavanya.jpg" class="shadow-sm rounded-circle" height="130" width="130" />
                                </div>
                                <div class="user-content">
                                    <h5 class="text-capitalize user-name">Lavanya</h5>
                                    <p class=" text-capitalize text-muted small blockquote-footer">MLA 182- Java-Jr</p>
                                    <div>
                                        <a href="mailto:lavanya.r@mphasis.com"><i class="ion-ios-email-outline">  lavanya.r@mphasis.com</i></a>
                                      </div>
                                    <p class="small text-muted mb-0"> Lavanya R, completed BE from UCET, i am doing my training project as a team of five members in the topic "passport and visa management" ..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6   pt-5">
                        <div class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="user-picture" align="center">
                                    <img src="../../assets/images/Vamshi.jpeg" class="shadow-sm rounded-circle" height="130" width="130" />
                                </div>
                                <div class="user-content ml-3" >
                                    <h5 class="text-capitalize user-name">Vamshidhar</h5>
                                    <p class=" text-capitalize text-muted small blockquote-footer">MLA 182- Java-Jr</p>

                                    <div>
                                        <a href="mailto:vamsidhar.balasa@mphasis.com"><i class="ion-ios-email-outline">  vamsidhar.balasa@mphasis.com</i></a>
                                      </div>

                                    <p class="small text-muted mb-0"> Vamsidhar he joined mphasis as trainee assosicate software engineer,want to explore new technologies. I like to keep a positive attitude and I like to face challenges..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-5">
                        <div class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="user-picture" align="center">
                                    <img src="../../assets/images/Raja.jpeg" class="shadow-sm rounded-circle" height="130" width="130" />
                                </div>
                                <div class="user-content ml-3"c>
                                    <h5 class="text-capitalize user-name">Raja Gupta</h5>
                                    <p class=" text-capitalize text-muted small blockquote-footer">MLA 182- Java-Jr</p>
                                    <div>
                                        <a href="mailto:svs.venkatsai@gmail.com"><i class="ion-ios-email-outline">  svs.venkatsai@gmail.com</i></a>
                                      </div>
                                    <p class="small text-muted mb-0">Raja gupta, Btech grad from AEC, he was along with my four group members with this project , while doing the project he was got more hands on which effieciently increased his knowledge</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                   
                </div>
            </div>
            <!-- /cards -->
        </section>
        <!-- /Ui cards -->
    </main>

</body>